.jobs-page {
  background-color: #000000;
  display: flex;
  flex-direction: row;
}

.dashboard {
  padding: 50px;
  flex-shrink: 0;
}

.dashboard-line {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.dashboard-filters-heading {
  color: #ffffff;
  margin-top: 0px;
  font-size: 25px;
  font-family: 'roboto';
}

.dashboard-filters-list {
  padding-left: 30px;
  list-style-type: none;
}

.dashboard-filters-list-item {
  margin-top: 15px;
}

.dashboard-filters-label {
  color: #ffffff;
  margin-left: 10px;
  font-family: 'roboto';
  font-size: 15px;
}

.jobs-section {
  flex-grow: 1;
  padding: 50px;
}

.jobs-search-container {
  border: 1px solid #64748b;
  width: 300px;
  border-radius: 5px;
  display: flex;
}

.jobs-search-bar {
  background-color: #000000;
  outline: none;
  color: #ffffff;
  border: 0px;
  padding: 10px;
  width: 100%;
}

.jobs-search-button {
  background-color: #272727;
  border: 0px;
}

.jobs-search-button:hover {
  cursor: pointer;
}

.jobs-search-icon {
  color: #ffffff;
  font-size: 25px;
  margin: 5px;
  margin-bottom: 0px;
}

.jobs-container {
  margin-top: 30px;
}

.job-container {
  background-color: #272727;
  font-family: 'Roboto';
  margin: 30px;
  padding: 20px;
  color: #f1f5f9;
  width: 72%;
  border-radius: 15px;
  margin-left: 0px;
}

.job-company-logo {
  height: 50px;
  width: 50px;
}

.job-heading-container {
  display: flex;
}

.job-title-container {
  margin-left: 10px;
}

.job-title {
  margin: 0px;
  font-size: 17px;
}

.job-rating-container {
  display: flex;
  margin-top: 10px;
}

.job-rating-icon {
  color: #fbbf24;
  font-size: 15px;
}

.job-rating {
  margin-top: 0px;
  font-size: 15px;
  margin-left: 5px;
}

.job-details-container {
  display: flex;
  justify-content: space-between;
}

.job-location-type-container {
  display: flex;
}

.job-details-icon {
  font-size: 20px;
}

.job-details {
  font-size: 11px;
  margin: 5px;
}

.job-type-icon {
  margin-left: 20px;
  margin-right: 4px;
}

.package {
  margin-top: 0px;
  margin-bottom: 0px;
}

.job-description-heading {
  font-size: 12px;
}

.job-description {
  font-size: 11px;
}
